In [120]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# DATA BASES

### In .csv
- BeerPCT in TOTAL alcohol consumption per person per year per country
- Beer consumption per person per country
- Weather in NL per year
- Gender Ratio (adulthood) per country
- Beer consumption per gender per country but only for 2010
- Happiness indicator per share (of people self declaring it)

### Manual
- Tax info on alcoholic beverages NL

In [121]:
#0_ BeerPCT in TOTAL alcohol consumption

alcohol_pct = pd.read_csv('data/alcohol-by-type-1890.csv')
alcohol_pct
alcohol_pct.loc[alcohol_pct['Year']>1960]

,Entity,Code,Year,Wine (% total alcohol),Beer (% total alcohol),Spirits (% total alcohol)
2,Australia,AUS,1964,12,75,13
3,Australia,AUS,1984,24,64,12
4,Australia,AUS,2014,40,46,14
5,Austria,AUT,1964,30,55,15
6,Austria,AUT,1984,37,49,14
7,Austria,AUT,2014,35,51,14
10,Belgium,BEL,1964,13,77,11
11,Belgium,BEL,1984,21,61,18
12,Belgium,BEL,2014,35,51,14
13,Canada,CAN,1964,6,60,34
14,Canada,CAN,1984,14,48,38
15,Canada,CAN,2014,25,49,26
17,Denmark,DNK,1964,8,77,15
18,Denmark,DNK,1984,19,65,16
19,Denmark,DNK,2014,47,38,16
20,Finland,FIN,1964,13,21,66
21,Finland,FIN,1984,12,42,46
22,Finland,FIN,2014,21,53,26
25,France,FRA,1964,78,10,13
26,France,FRA,1984,69,16,16
27,France,FRA,2014,59,19,23
30,Italy,ITA,1964,87,3,10
31,Italy,ITA,1984,80,8,12
32,Italy,ITA,2014,65,23,11
33,Japan,JPN,1964,2,20,78
34,Japan,JPN,1984,4,29,67
35,Japan,JPN,2014,5,21,74
38,Netherlands,NLD,1964,9,48,43
39,Netherlands,NLD,1984,22,49,29
40,Netherlands,NLD,2014,35,48,17
42,New Zealand,NZL,1964,4,78,18
43,New Zealand,NZL,1984,17,64,20
44,New Zealand,NZL,2014,38,43,19
45,Norway,NOR,1964,4,27,69
46,Norway,NOR,1984,9,34,58
47,Norway,NOR,2014,29,35,36
48,Sweden,SWE,1964,9,39,52
49,Sweden,SWE,1984,20,39,41
50,Sweden,SWE,2014,48,37,15
53,Switzerland,CHE,1964,42,38,20
54,Switzerland,CHE,1984,49,31,20
55,Switzerland,CHE,2014,47,34,19
58,United Kingdom,GBR,1964,4,81,15
59,United Kingdom,GBR,1984,11,69,20
60,United Kingdom,GBR,2014,41,37,22
63,United States,USA,1964,8,48,44
64,United States,USA,1984,13,51,36
65,United States,USA,2014,18,49,34

In [122]:
#1- Beer consumption in liters for type beer

beer = pd.read_csv('data/beer-consumption-per-person.csv')
beer

beer_NL = beer.loc[(beer['Entity']=='Netherlands')]
beer_NL

BNL = list(beer_NL['Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Beer'])
len(BNL)
Missing_values = [0]
BNL = Missing_values+BNL+Missing_values

AttributeError: 'list' object has no attribute 'DataFrame'

In [ ]:
#Tool to SQL command

In [133]:
#2 Weather in NL per year
weather = pd.read_csv('data/Climate_data_NL.csv',sep=';')

weather['Entity']='Netherlands'


# weather.drop(['Temperature/Winter average minimum temperature (degree Celsius)','Temperature/Summer average maximum temperature (degree Celsius)','Precipitation/Evaporation (mm)'],axis=1)
weather['Beer_consumptionNL'] = BNL
weather.head()

weather.dtypes
weather['Temperature/Year average (degree Celsius)'].astype('float')
# weather['Temperature/Winter average (degree Celsius)'].astype(float)
# weather['Temperature/Summer average (degree Celsius)'].astype(float)
# weather['Temperature/Winter average minimum temperature (degree Celsius)'].astype(float)
# weather['Temperature/Summer average maximum temperature (degree Celsius)'].astype(float)

ValueError: could not convert string to float: '9,6'

In [126]:
weather['Temperature/Year average (degree Celsius)'].corr(weather['Beer_consumptionNL'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [48]:
drink_ratio = pd.read_csv('data/males-vs-females-who-drank-alcohol-in-last-year.csv')
drink_ratio2010 = ratio.loc[(ratio['Entity']=='Netherlands')&(ratio['Year']==2010)]
drink_ratio2010

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,"Indicator:Alcohol, consumers past 12 months (%) - Sex:Female","Indicator:Alcohol, consumers past 12 months (%) - Sex:Male"
29172,Netherlands,NLD,2010,16683000.0,NaN,83.6,92.9

In [49]:
ratio_age = pd.read_csv('data/sex-ratio-by-age.csv')
ratio_age

,Entity,Code,Year,"Sex ratio by age (15 year olds) (UNWPP, 2017)","Sex ratio by age (20 year olds) (UNWPP, 2017)","Sex ratio by age (30 year olds) (UNWPP, 2017)","Sex ratio by age (40 year olds) (UNWPP, 2017)","Sex ratio by age (50 year olds) (UNWPP, 2017)","Sex ratio by age (60 year olds) (UNWPP, 2017)","Sex ratio by age (70 year olds) (UNWPP, 2017)","Sex ratio by age (80 year olds) (UNWPP, 2017)","Sex ratio by age (90 year olds) (UNWPP, 2017)","Sex ratio by age (100 year olds) (UNWPP, 2017)"
0,Afghanistan,AFG,1950,110.725960,115.678881,118.566663,119.636455,124.993101,130.460824,130.004055,NaN,NaN,NaN
1,Afghanistan,AFG,1951,110.239836,114.390486,118.288218,119.375972,124.586307,130.063446,129.302326,NaN,NaN,NaN
2,Afghanistan,AFG,1952,109.217998,112.674319,117.518995,118.787630,123.710621,129.190856,127.946743,NaN,NaN,NaN
3,Afghanistan,AFG,1953,108.646649,111.340221,117.060109,118.236943,122.198021,127.650155,126.501222,NaN,NaN,NaN
4,Afghanistan,AFG,1954,108.700272,110.692684,117.101741,117.753065,119.957057,125.267577,125.063549,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15901,Zimbabwe,ZWE,2011,100.027344,97.947110,91.633517,92.367246,76.861300,71.714321,77.211796,71.063352,61.622992,39.622642
15902,Zimbabwe,ZWE,2012,99.931326,98.144598,91.292345,93.047464,77.717715,70.976913,76.394269,71.046431,61.962693,38.181818
15903,Zimbabwe,ZWE,2013,99.923038,98.270087,91.092513,93.105930,78.739122,70.414498,75.484262,71.119331,61.863743,36.842105
15904,Zimbabwe,ZWE,2014,99.971532,98.312325,91.082905,92.469114,79.989064,70.020986,74.428774,71.422764,60.981496,37.288136
15905,Zimbabwe,ZWE,2015,100.061274,98.386791,91.166891,91.570857,81.394156,69.803147,73.224739,71.741453,59.220146,37.096774

In [ ]:
# share-of-people-who-say-they-are-happy

In [60]:
happypeople = pd.read_csv('data/Happiness-Eurobarometer.csv')
happypeople.loc[happypeople['Entity']=='Netherlands']

,Entity,Code,Year,Share of people who are happy (Eurobarometer 2017)
554,Netherlands,NLD,1973,93.000000
555,Netherlands,NLD,1975,86.175941
556,Netherlands,NLD,1976,90.539238
557,Netherlands,NLD,1977,91.697433
558,Netherlands,NLD,1978,93.160416
559,Netherlands,NLD,1979,94.721405
560,Netherlands,NLD,1980,94.291534
561,Netherlands,NLD,1981,92.307693
562,Netherlands,NLD,1982,93.158234
563,Netherlands,NLD,1983,92.357574
564,Netherlands,NLD,1984,92.478302
565,Netherlands,NLD,1985,89.819702
566,Netherlands,NLD,1986,92.082008
567,Netherlands,NLD,1987,91.263374
568,Netherlands,NLD,1988,90.861679
569,Netherlands,NLD,1989,93.958595
570,Netherlands,NLD,1990,93.099991
571,Netherlands,NLD,1991,94.300003
572,Netherlands,NLD,1992,93.200005
573,Netherlands,NLD,1993,93.858673
574,Netherlands,NLD,1994,92.549240
575,Netherlands,NLD,1996,91.542747
576,Netherlands,NLD,1997,92.549019
577,Netherlands,NLD,1998,94.638535
578,Netherlands,NLD,1999,94.787094
579,Netherlands,NLD,2000,92.638863
580,Netherlands,NLD,2001,94.062515
581,Netherlands,NLD,2002,92.770348
582,Netherlands,NLD,2003,90.091309
583,Netherlands,NLD,2004,92.170464
584,Netherlands,NLD,2005,95.211098
585,Netherlands,NLD,2006,95.021790
586,Netherlands,NLD,2007,95.880249
587,Netherlands,NLD,2008,96.926033
588,Netherlands,NLD,2009,95.996002
589,Netherlands,NLD,2010,95.026955
590,Netherlands,NLD,2011,96.341576
591,Netherlands,NLD,2012,94.230652
592,Netherlands,NLD,2013,94.699905
593,Netherlands,NLD,2014,95.410957
594,Netherlands,NLD,2015,95.722267
595,Netherlands,NLD,2016,96.504379

In [66]:
#Price level indicesEUR 28 =100
#Exporting from .csv
PxIndex = pd.read_csv('data/Pricelevel_beer.csv')
#cleaning unnecessary data out (keeping only the data on aloholic beverages)
Price_index = PxIndex.loc[PxIndex['PPP_CAT']=='Alcoholic beverages']
Price_index.drop('Flag and Footnotes', axis=1)

AttributeError: 'DataFrame' object has no attribute 'npwhere'