# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database

#I tried importing it directly from the Gdrive, but it gives me an error
# url = requests.get('https://drive.google.com/drive/folders/1hLuGokqZdS0yfXbiJs-VopLpOhoGEd0D')
# csv_raw = StringIO(url.text)
# pokemon = pd.read_csv(csv_raw)

# os.getcwd()
pokemon = pd.read_csv('/Users/ajiacovic/Documents/data/Pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
type1 = set(pokemon['Type 1'].unique())
type2 = set(pokemon['Type 2'].unique())

type1.union(type2)

{'Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water',
 nan}

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here

#I'm splitting the cell name by space (n=1 so, only one split, and expand the separation to another cell)
pokemon1= pokemon['Name'].str.split(' ',n=1,expand =True)

In [6]:
## I'm adding a column to the dataframe with the values extracted from the code before =this allows me to identify the cells to be changed
pokemon['dummieName'] = pokemon1[1]

In [7]:
pokemon['Name'] = pokemon1[0]

In [8]:
## Checking the types of data, and setting to string in order to make some modifications (Unsuccessful try with 'object' )
pokemon.dtypes
pokemon['Name'] = pokemon['Name'].astype('str')

In [9]:
pokemon['dummieName'] = pokemon['dummieName'].astype('str')

In [10]:
## Replacing the string 'nan' since no longer recognized as a NULL value
pokemon['dummieName'] = pokemon['dummieName'].replace('nan','')

In [11]:
## @Erin, These are the intermediary steps I did in order to get to understand the logic of it. I left it but commented it out.

## Sorting the dataframe by the values of the column 'dummieName'
# pokemon = pokemon.sort_values('dummieName',ascending=False)

## back up of the not_affected rows : this didn't work :( 
# not_affected = pokemon.loc[(pokemon['dummieName']=='')].index
# not_affected_rows

## Split and drop of the not_affected rows from Pokemon DF 
# tbdropped = (pokemon.loc[(pokemon['dummieName']=='')]).index
# pokemon = pokemon.drop(tbdropped, axis=0)

##Quick verification
# pokemon
# not_affected_rows

In [12]:
## Identifying affected rows:
## I tried several methods but ended creating a list with 1 and 0 that will help me achieve it

pokemon['Has Mega']=''
values = []

value = 0
for n in pokemon['Name']:
    if n[-4:]=='Mega':
        value = 1
        values.append(value) 
#         pokemon.loc[i].['Has Mega']=1 #this did't work 
#         pokemon['Has Mega'][i]= 1 #this did't work : filled 1 in some cells not all the affected ones
#         print(n)
#         print(i)
    else:
        value = 0
        values.append(value)        

    
#print(values)  

##Quick verification:
len(pokemon['Name'])==len(values)

True

In [13]:
##Adding list to column 'Has Mega':
pokemon['Has Mega'] = values #IT WORKS!
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,dummieName,Has Mega
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,,0
3,3,VenusaurMega,Grass,Poison,625,80,100,123,122,120,80,1,False,Venusaur,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,,0
796,719,DiancieMega,Rock,Fairy,700,50,160,110,160,110,110,6,True,Diancie,1
797,720,HoopaHoopa,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Confined,0
798,720,HoopaHoopa,Psychic,Dark,680,80,160,60,170,130,80,6,True,Unbound,0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,,0

In [14]:
## @ Erin, this is part of the previous try.is commented out on purpose

##intermediate step: taking the splitted but not affected names
# intermediate = pokemon.loc[(pokemon['Has Mega']== 0)]
# dropped = pokemon.loc[(pokemon['Has Mega']== 0)].index
# pokemon = pokemon.drop(dropped, axis=0)
# pokemon
# intermediate['Name']=intermediate['Name'].str.pad(1,side='right')
# intermediate

In [15]:
##working on the affected rows (added a space to "Mega " thinking of concatenating after)
intermediate = list(pokemon.loc[(pokemon['Has Mega']== 1)].index)

#changing name to 'Mega' to concatenate it later
pokemon.loc[intermediate,'Name']='Mega'

#adding white space on the right (preparing for concatenation)--> This didn't work (no space when concatenating)
# pokemon['Name']= pokemon['Name'].str.pad(1,side='right')

In [16]:
#concatenation and verification: IT WORKED!!!
pokemon['Name']= pokemon['Name'] + str(' ')+ pokemon['dummieName'].astype(str)

In [17]:
pokemon.pop('dummieName')

0
1
2
3      Venusaur
4
         ...
795
796     Diancie
797    Confined
798     Unbound
799
Name: dummieName, Length: 800, dtype: object

In [18]:
pokemon.pop('Has Mega')

0      0
1      0
2      0
3      1
4      0
      ..
795    0
796    1
797    0
798    0
799    0
Name: Has Mega, Length: 800, dtype: int64

In [19]:
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [20]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [21]:
# your code here
Name_only_max = pokemon['Name'].loc[(pokemon['A/D Ratio']== pokemon['A/D Ratio'].max())].reset_index() #--> this seems to be giving me the name only
Entire_row_max =pokemon.loc[(pokemon['A/D Ratio']== pokemon['A/D Ratio'].max())].reset_index()

print(Name_only_max)
Entire_row_max

   index                Name
0    429  DeoxysAttack Forme

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [22]:
# your code here
Name_only_min = pokemon['Name'].loc[(pokemon['A/D Ratio']== pokemon['A/D Ratio'].min())].reset_index()
Entire_row_min = pokemon.loc[(pokemon['A/D Ratio']== pokemon['A/D Ratio'].min())].reset_index()

print(Name_only_min)
Entire_row_min

   index      Name
0    230  Shuckle

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [23]:
# your code here
pokemon['Combo Type'] = pokemon['Type 1']+ str('-') + pokemon['Type 2']
pokemon['Combo Type'].reset_index()

     index     Combo Type
0        0   Grass-Poison
1        1   Grass-Poison
2        2   Grass-Poison
3        3   Grass-Poison
4        4            NaN
..     ...            ...
795    795     Rock-Fairy
796    796     Rock-Fairy
797    797  Psychic-Ghost
798    798   Psychic-Dark
799    799     Fire-Water

[800 rows x 2 columns]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [24]:
# your code here
#To find the top 5 Ratios, I will sort the table by Ratio.
pokemon = pokemon.sort_values('A/D Ratio',ascending = False)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000000,NaN
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500000,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125000,NaN
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000000,Water-Dark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,0.285714,Fire-Psychic
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False,0.281250,Rock-Ground
484,436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,0.279070,Steel-Psychic
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,0.181818,NaN
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock

In [25]:
# 5th Highest ratio is 3 so:
among_highestADR = pokemon.loc[(pokemon['A/D Ratio']>= 3)].reset_index()
among_highestADR

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,NaN
1,347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
2,19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
3,453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,NaN
4,348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark
5,428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,3.000,NaN
6,750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False,3.000,Steel-Ghost

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [26]:
# your code here. The top5 Ratios gives 7 Pokemon, not5 because 3 Pokemons have the same Ratio of 3
pokemon.loc[(pokemon['A/D Ratio']>= 3)].agg('Combo Type').reset_index()
combotype_top5 = list(pokemon.loc[(pokemon['A/D Ratio']>= 3)].agg('Combo Type').unique())
print(combotype_top5)

[nan, 'Water-Dark', 'Bug-Poison', 'Steel-Ghost']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [27]:
# your code here
#My output doesn't look the same at all.... :_(  
pokemon.groupby([pokemon.loc[(pokemon['A/D Ratio']>= 3)].agg('Combo Type')]).mean().reset_index()

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.75
1,Steel-Ghost,681.0,520.0,60.0,150.0,50.0,150.0,50.0,60.0,6.0,False,3.00
2,Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.75